
#OpenAPI config
OPENAI_API_KEY=<YOUR KEY HERE>
OPENAI_MODEL=<YOUR CHOISE OF MODEL | gpt-4o-mini>

#PerpplexityAI config
PERPLEXITYAI_API_KEY=<YOUR KEY HERE>
PERPLEXITYAI_MODEL=<YOUR CHOISE OF MODEL | sonar>
